<strong>Sr. {{ courier }}</strong>
<p>Infelizmente, houve um cancelamento de uma de suas entregas.</p>
<p><strong>Produto: </strong> {{ product }}</p>
<p><strong>Endereço: </strong> {{ street }}, {{ number }}, {{ complement }}, {{ city }}-{{ state }}, CEP: {{ zipcode }}</p>
<br />
<p>Qualquer dúvida, entre em contato conosco. Ficaremos felizes em poder ajuda-lo.</p>
<strong>contato@fastfeet.com.br</strong>
