<strong>Sr. {{ courier }}</strong>
<p>Você tem uma nova entrega disponível para retirada</p>
<p><strong>Produto: </strong> {{ product }}</p>
<p><strong>Endereço: </strong> {{ street }}, {{ number }}, {{ complement }}, {{ city }}-{{ state }}, CEP: {{ zipcode }}</p>
<br />
<p>Esperamos que você faça uma ótima entrega, qualquer dúvida, entre em contato conosco.</p>
<strong>contato@fastfeet.com.br</strong>
